<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        cacheResult="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Marein\Nchan\Tests\TestServer\PhpUnitStartServerListener">
            <arguments>
                <string>Marein\Nchan\Tests\Integration\HttpAdapter\HttpStreamWrapperClientTest</string>
                <string>127.0.0.1:8000</string>
                <string>tests/TestServer/index.php</string>
            </arguments>
        </listener>
    </listeners>

    <php>
        <env name="INTEGRATION_TEST_BASE_URL" value="http://127.0.0.1:8000/"/>
        <env name="INTEGRATION_TEST_INVALID_BASE_URL" value="http://127.0.0.1:8001/"/>
    </php>
</phpunit>
