<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="PhpUnitStartServerListener" file="tests/configuration/PhpUnitStartServerListener.php">
            <arguments>
                <string>Marein\Nchan\HttpAdapter\HttpStreamWrapperClientTest</string>
                <string>127.0.0.1:8000</string>
                <string>tests/configuration/index.php</string>
            </arguments>
        </listener>
    </listeners>

    <php>
        <env name="INTEGRATION_TEST_BASE_URL" value="http://127.0.0.1:8000/"/>
    </php>
</phpunit>
